@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("../TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Regular.woff") format("woff"),
    url("../fonts/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("../TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Bold.woff") format("woff"),
    url("../fonts/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.eot");
  src: local("TT Lakes Medium"), local("TTLakes-Medium"),
    url("../TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TTLakes-Medium.woff") format("woff"),
    url("../fonts/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", sans-serif;
  background-color: #ffffff;
}

.side-navigation {
  width: 320px;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: -2px 0 4px 0 rgba(69, 79, 126, 0.02),
    16px 0 52px 0 rgba(14, 24, 80, 0.2);
}

.side-navigation__header {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.side-navigation__button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.side-navigation__burger {
  margin-right: 16px;
  margin-left: 24px;
  margin-top: 23px;
}

.side-navigation__logo {
  margin-right: 78px;
  margin-top: 19px;
}

.side-navigation__search {
  margin-top: 23px;
}

.side-navigation__menu {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 50px;
  margin-bottom: 268px;
  margin-left: 24px;
}

.side-navigation__menu li {
  margin-bottom: 32px;
}

.side-navigation__menu-link {
  color: #1b1c21;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-decoration: none;
}

.side-navigation__menu-link--active {
  color: #7e7e82;
}

.side-navigation__menu-link--active::before {
  position: absolute;
  left: 0;
  top: 120px;
  content: url("img/highlight.svg");
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-right: 12px;
  width: 4px;
  height: 32px;
}

.side-navigation__call {
  margin-left: 24px;
  margin-right: 16px;
}

.side-navigation__chat {
  margin-right: 16px;
}

.side-navigation__info {
  margin-bottom: 16px;
}

.side-navigation__contacts {
  display: inline-block;
  margin-left: 24px;
  margin-bottom: 40px;
}

.side-navigation__contacts-mail {
  margin-bottom: 12px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.side-navigation__contacts-phone {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.side-navigation__lang {
  margin-left: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-bottom: 32px;
  word-spacing: 6px;
}

.side-navigation__lang--active {
  color: #7e7e82;
}
